
@{
    /**/

    ViewBag.Title = "PatientDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>PatientDetail</h2>*@
<div class="row" style="margin-top:50px;">
    <div class="col-sm-12 col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">Document Upload for Patient</div>
            <div class="panel-body">
                @using (Html.BeginForm("HospitalDetail", "Masters", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="container">
                        <table style="width:100%">
                            <tr>
                                <td style="width:30%">
                                    <label>Document Title</label>
                                    <input type="text" name="name" id="name" style="width: 100%;" required />
                                </td>
                                <td style="width:30%">
                                    <label>Document Type</label>
                                    <select class="form-control" style="width: 100%;" id="doctype" name="DocType" required="required">
                                        <option value="0">Select Document Type</option>
                                        <option value="1">PDF</option>
                                        <option value="2">Doc</option>
                                        <option value="2">Image</option>
                                        <option value="2">Other</option>
                                    </select>
                                    @*<input type="text" name="name" id="name" style="width: 100%;" required />*@
                                </td>
                                <td style="width:30%">
                                    <label>Document</label>
                                    <input type="file" name="file1" id="file1" style="width: 100%;" required />
                                    <br />
                                </td>
                                <td style="width:10%">
                                    <input type="submit" name="Upload" class="btn btn-primary btn-blue btn-block btn-lg" value="Upload" style="width:100px;">
                                </td>
                            </tr>
                        </table>
                    </div>
                }
                <hr />
                <div class="container">
                    <table style="width:100%;">
                        <thead>
                        <th>ID</th>
                        <th>Document Title</th>
                        <th>Document Type</th>
                        <th>Document</th>
                        </thead>
                        @*<tbody>
                                @{
                                    var hospitals = (List<HospitalDetail>)(ViewData["hospitals"]);
                                    if (hospitals != null)
                                    {
                                        foreach (var hospital in hospitals)
                                        {
                                            <tr>
                                                <td>
                                                    @hospital.Id
                                                </td>
                                                <td>
                                                    @hospital.HospitalName
                                                </td>
                                                <td>
                                                    @if (hospital.HospitalLogo != null)
                                                    {
                                                        var base64 = Convert.ToBase64String(hospital.HospitalLogo);
                                                        var imgsrc = string.Format("data:image/jpg;base64,{0}", base64);
                                                        <img src="@imgsrc" class="img-responsive" alt="banner" style="width:50px" />
                                                    }
                                                </td>
                                                <td>
                                                    <a href="#">Edit(not implemented)</a>
                                                </td>
                                                <td>
                                                    @Html.ActionLink(
                                                                    "Delete",                                                  // linkText
                                                                    "DeleteHospital",                                         // actionName
                                                                    "Masters",                                                   // routeValues
                                                                    new {                                                     // htmlAttributes
                                                                        //Id = hospital.Id
                                                                    },
                                                                    new {
                                                                        @class = "navbar-brand"
                                                                    }
                                                                )
                                                </td>
                                            </tr>
                                        }
                                    }
                                }
                            </tbody>*@
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>


