
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/App/Login/Login.css" rel="stylesheet" />

<div id="loginContainer" class="dialog dialog-effect-in">
    <div class="dialog-front">
        <div class="dialog-content">
            <a class="text-center navbar-brand" href="#"> Document Upload System </a>
            <form id="login_form" class="dialog-form" action="/login/getlogin" method="POST">
                <fieldset>
                    <legend></legend>
                    <div class="form-group">
                        <label for="user_role" class="control-label">UserRole:</label>
                        <select id="user_role" class="form-control" name="userrole" autofocus></select>
                    </div>
                    <div class="form-group">
                        <label for="user_username" class="control-label">UserId:</label>
                        <input type="text" id="user_username" class="form-control" name="username" autofocus />
                    </div>
                    <div class="form-group">
                        <label for="user_password" class="control-label">Password:</label>
                        <input type="password" id="user_password" class="form-control" name="password" />
                    </div>
                    <div class="pad-top-20 pad-btm-20">
                        <input type="submit" class="btn btn-primary btn-block btn-lg" value="Submit">
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>

<script src="~/Scripts/App/Login/Login.js"></script>